# See https://help.github.com/ignore-files/ for more about ignoring files.

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed


# dependencies
node_modules


# production

.next

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*