nav {
  position: relative;
  border-bottom: 1px solid #00aeef;
  background-color: #181818 !important;

  a {
    img {
      max-width: 200px !important;
      @media (max-width: 899px) {
        max-width: 150px !important;
      }
    }
  }
}
