.footer {
  background-color: #272727;
  padding: 50px 0px;
  color: #fff;
}

.footer h5 {
  color: #ff5500;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: bold;
}
.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
