.wrapper {
  background-color: #e5e5e5;
  padding: 10px 0px;
  text-align: center;
}

.wrapper h2 {
  padding: 5px 0px 30px 0px;
  font-weight: bold;
  margin-bottom: 20px;
}
.wrapper h6 {
  font-weight: bold;
  margin-top: 10px;
}
.footNote {
  margin: 35px auto;
  font-size: 1.1em;
  font-weight: bold;
}
.footNote span {
  color: #146cb6;
}
