.head-contact {
  background-image: url(/static/images/contact.jpg);
  min-height: 50vh;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  h2 {
    padding: 0px 0px 20px 25px;
    font-weight: bold;
    color: #fff;
  }
}
.form-wrapper {
  .form-control {
    box-shadow: none;
    outline: 0;
    border-radius: 0;
    resize: none;
  }
}
