.browse {
  background-color: #146cb6;
  padding: 50px 0px;
  text-align: center;
  color: #fff;
}

.browse h2 {
  font-weight: bold;
  margin-bottom: 20px;
}
.browse p {
  font-size: 1.1em;
  margin-bottom: 30px;
}
.browse a {
  font-weight: bold;
  background-color: #4d9ddf;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
}
